@media (max-width: 1331px){
	.big-div{
		width: 55%;
	}
}
@media (max-width: 976px){
	.big-div{
		width: 70%
	}
}
@media (max-width: 829px){
	.div-1 h3{
		font-size: 36px;
	}
	ul{
		width: 400px;
	}
	.big-div{
		width: 80%;
	}
	.smallbox{
		margin-right: 10px;
	}
}
@media (max-width: 726px){
	.div-1 h3{
		font-size: 30px;
	}
	.div-1 h5 {
		font-size: 13px;
	}
	.div-1 h6 {
		font-size: 11px;
	}
	.bluebox a {
		font-size: 12px;
	}
}
@media (max-width: 692px){
	.big-div{
		justify-content: center;
		align-items: center;
	}
	.big-div h3{
		text-align: center;
	}
	.wrapper{
		justify-content: center;
	}
	.s1{
		flex-direction: column;
	}
	.div-1, .div-2{
		width: 100%;
		margin-bottom: 20px;
	}
	.bluebox{
		width: 30%;
	}
	ul{
		width: 350px;
	}
}
@media (max-width: 636px){
	.divv{
		display: flex;
		justify-content: space-between;
	}
	ul{
		display: none;
	}
	.icon{
		display: block;
	}
	.big-div h3{
		font-size: 30px;
	}
	h4{
		font-size: 36px;
	}
}
@media (max-width: 328px){
	.bluebox{
		width: 40%;
	}
	.smallbox{
		width: 230px;
	}
}